.drawer-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s cubic-bezier(0.23, 1, 0.32, 1), visibility 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}

.drawer-overlay--visible {
  opacity: 1;
  visibility: visible;
  animation: fadeIn 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}

.drawer {
  background-color: white;
  height: 100%;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  transform: translateX(100%);
  transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1);
}

.drawer--visible {
  transform: translateX(0);
  animation: slideIn 1s cubic-bezier(0.23, 1, 0.32, 1);
}
.drawer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 36px 40px 32px 40px;
}

.drawer-title {
  font-size: 24px;line-height: 36px;
  margin: 0;
}

.drawer-close-button {

  cursor: pointer;
}

.drawer-content {
  flex-grow: 1;
  overflow-y: auto;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

